:root {
  --main-bg-color: rgb(250, 250, 250);
  --primary-color: rgb(6, 6, 22);
  --text-color: rgb(0, 0, 0);
  --text-primary-color: rgb(255, 255, 255);
  --accent-color: rgba(133, 211, 207, 0.596);
}

* {
  color: var(--primary-color);
  font-family: "Newsreader", serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  max-width: 100%;
}

@media (max-width: 764px) {
  .main-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
  }
}

body {
  background-color: var(--main-bg-color);
}

h2 {
  text-align: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.2s ease-in-out;
}

.nav-container a {
  text-decoration: none;

  padding-left: 0.2rem;
}

.nav-container img {
  width: 50px;
  height: 50px;
}

.soclal-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 0.4rem;
}

.social-logos a img {
  width: 2rem;
  height: 2rem;

  transition: all 0.2s ease-in-out;
  border-radius: 70%;
  padding: 0.2rem;
}

.social-logos a img:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav-links button {
  z-index: 1;
}

.nav-title {
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  text-wrap: nowrap;
}

.nav-links button,
.nav-title {
  font-size: 1rem;
  border: 2px solid rgba(0, 0, 0, 0.37);
  border-right: 1px solid rgba(0, 0, 0, 0.075);
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
  background-color: white;

  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
  margin-left: 0.5rem;
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  margin-right: 1rem;
  max-width: 32rem;
}

.nav-links button:hover,
.nav-title:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.nav-links button.active:hover,
.nav-title.active:hover {
  cursor: pointer;
  transform: scale(1.01);
}

@keyframes click-animation {
  0% {
    border: 4px solid var(--accent-color);
  }
  50% {
    border: 1px solid var(--accent-color);
    padding: 0.8rem;
  }
  100% {
    border: 4px solid var(--accent-color);
  }
}

.click-animation {
  animation: click-animation 0.5s ease-in-out;
}

.nav-links button.active,
.nav-title.active {
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  font-weight: bold;
  scale: 1.05;
  z-index: 2;
}

.first-nav-container {
  display: flex;

  flex-direction: row;

  align-items: center;
  text-align: center;
}

@media (max-width: 764px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: -1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.2s ease-in-out;

    justify-content: center;

    height: 100%;
  }
}

.hidden {
  display: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20rem;
  min-height: 8rem;
  background-color: var(--primary-color);
  padding: 1rem;
}

.sidebar a {
  text-decoration: underline;
  color: var(--text-primary-color);
  font-size: 1.2rem;
  text-align: center;
  padding: 0.4rem;
  cursor: pointer;
}

.sidebar a:hover {
  font-weight: bold;
}

.sidebar a:active {
  color: var(--accent-color);
  transform: scale(0.95);
  font-weight: bold;
}

.sidebar a.active {
  color: var(--accent-color);
  font-weight: bold;
  transform: scale(1.05);
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.content.hidden {
  display: none;
}

.first-zone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
}

.welcome-message {
  width: 100%;
  text-align: center;
}
